<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comparador</title>
</head>
<body>
	<header class = "navigator">
	<nav>
		<p class = "logo">Comparador de negocio</p>
        <ul class= "container">
        	<% if user_signed_in? %>
				<li><%= link_to 'Salir', destroy_user_session_path, method: :delete  %></li>
				<li><%= link_to 'Compara tu negocio', restaurant_path %></li>
			<% else %>
				<a href=""><li><%= link_to 'Identifícate', new_user_session_path %></li></a>
 				<a href=""><li><%= link_to 'Regístrate', new_user_registration_path %></li></a>
            <% end %>               
        </ul>
    </nav>
	</header>

	<div class = "portada">		
	</div>

	<section>
		<div class= "slide">  
        		<%= image_tag "eeuu.jpg", class: "img1" %>
        		<%= image_tag "spain.jpg", class: "img2" %>
        		<%= image_tag "panama.jpg", class: "img3" %>
        </div>
		<p class = "explicacion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vel expedita obcaecati. Placeat beatae eos in, totam officia hic ullam libero et, inventore consequuntur quibusdam id facere dolorum, iure ipsum.</p>

	</section>

</body>
</html>

