<section class="fondo_foto">
<div class="comparador">

	<h1 class="titulo">Compara tu restaurante:</h1>

<%= form_tag restaurant_path, :method => 'get' , :class => "apertura" do %>
	
	<input type="radio" name="nueva_apertura" <% if params[:nueva_apertura] == true %> checked <% end %> value="true">
	<%= label_tag(:nueva_apertura)  %>
 	</br>
	
	<input type="radio" name="nueva_apertura" <% if params[:nueva_apertura] == false %> checked <% end %> value="false">
	<%= label_tag(:traspaso) %>

 	</br>	
	
	<%= label_tag(:precio_medio_del_plato) %>
	</br>
		<input name="coste_plato" value="<%= "#{params[:coste_plato]}" %>">
		</br>	
 	<%= submit_tag "Comparar" %>
 	
<% end %>

<div class="apertura">
	<% if @countries %>
		<% @countries.each do |country| %>
			<%= country[:name] %> - <%= country[:score] %><br />
		<% end %>
	<% end %>
</div>

</div>
</section>