<h1>Compara tu restaurante!</h1>

<%= form_tag restaurants_path, :method => 'get' do %>
	
	<input type="radio" name="myradio" value="nueva_apertura">
	<%=label_tag(:nueva_apertura) %>
 	</br>
	
	<input type="radio" name="myradio" value="traspaso">
	<%=label_tag(:traspaso) %>
 	</br>	
	
	<%=label_tag(:precio_medio_del_plato) %></br>
 	
 		<input type="radio" name="myradio2" value="bajo">
 			<%=label_tag(:bajo) %>
 		<input type="radio" name="myradio2" value="medio">
 			<%=label_tag(:medio) %>
 		<input type="radio" name="myradio2" value="alto">
 			<%=label_tag(:alto) %>
  	
 	<%=submit_tag "Comparar paises",:name => "nill" %>
 	
<% end %>